<%= form_for(@purchase) do |f| %>
  <% if @purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% @purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label for="region_id">Region_id</label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">@</span>
    <%= f.text_field :region_id, class: "form-control" %>
  </div>

  <label for="region_id">user_id</label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">@</span>
    <%= f.text_field :user_id, class: "form-control" %>
  </div>

  <label for="region_id">date</label>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">@</span>
    <%= f.text_field :date, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
