<p id="notice"><%= notice %></p>

<h1>Listing Recalls</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Reason</th>
      <th>Level</th>
      <th>Region</th>
      <th>Contact</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recalls.each do |recall| %>
      <tr>
        <td><%= recall.product %></td>
        <td><%= recall.reason %></td>
        <td><%= recall.level %></td>
        <td><%= recall.region %></td>
        <td><%= recall.contact %></td>
        <td><%= recall.date %></td>
        <td><%= link_to 'Show', recall %></td>
        <td><%= link_to 'Edit', edit_recall_path(recall) %></td>
        <td><%= link_to 'Destroy', recall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recall', new_recall_path %>
